* {
  text-align: center;
}

body{
 background-image: url("./img/counter.jpg");
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* #bodyId .ui.create-new-menu-btn {
  border-radius: 0;
  background-color: black;
  } */

  .button {
    background-color: rgb(251, 231, 193) !important;
    border:  solid rgb(240, 212, 165) !important;
    border-width: 2px !important;
  }

  /* .colon {
    background-color: white;
    border:  solid rgb(240, 212, 165) !important;
    border-width: 2px !important;
  } */